@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-SecundaryGreen{
  background-color: #AAC8A7;
}
.bg-PrimaryGreen{
  background-color: #C9DBB2;
}
.font-Title{
  font-family: monospace;
  font-size: 25px;
}
.fontFamily{
  font-family: monospace;
}
