@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-SecondaryColor {
  background-color: #181818;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #dfe0dc;
}
.bg-PrimaryColor {
  background-color: #dfe0dc;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: black;
}
.bg-Transparent {
  background-color: rgba(255, 255, 255, 0.254);
  transition: all 0.4s ease-in-out;
}
.EspecialInput {
  color: #181818;
  background-color: transparent;
}
@media print {
  @page {
    counter-increment: page;
    counter-reset: page 1;
  }

  body {
    counter-reset: page;
  }

  .page-number::after {
    content: counter(page);
  }
}

input::placeholder {
  color: #454fce;
}
input[type="date"] {
  background-color: #5f5f5d;
  border-color: #ccc;
}
.title-font {
  color: #dfe0dc;
  border-color: red;
  margin: 10px auto;
  width: max-content;
  border-right: 3px solid;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  animation: typing 2s steps(10), effect 0.5s step-end infinite;
}
@keyframes typing {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

.Header {
  width: 100vh;
  height: 100vh;
}

html {
  width: 100%;
  height: 100%;
}



.GridThreeColumns {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.GridThreeColumns > div:first-child {
  overflow-y: auto;
  padding: 2vh;
  max-height: 100vh;
}
.zoom:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}
/*for Chrome*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

/*for Edge*/
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #dfe9f5;
}
.EliminatedButton {
  background-color: #e84443;
}
.NormalButton {
  background-color: #454fce;
}
button {
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
}
input[type="dateTime-local"] {
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #454fce;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

button:active {
  animation-name: rotate;
  animation-duration: 0.1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n + 5),
tr th:nth-child(n + 5) {
  border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
}

#clock {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  background: #d1dae3;
  color: #71767f;
  padding: 30px;
  font-weight: bold;
  font-size: 40px;
  border-radius: 4px;
  border: 4px solid #cad3dc;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.BlackTable {
  background-color: #dfe0dc;
  color: #181818;
  border-collapse: collapse;
}

.GrayTable th,
.GrayTable td {
  border: 2px solid #181818;
  padding: 8px;
}
.GrayTable input {
  color: #dfe0dc;
  background-color: transparent;
  color: #181818;
  font-weight: bold;
}

.head img {
  width: 40px;
}
.aside {
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 300px;
  background-color: #27374d;
  color: #dfe0dc;
  position: sticky;
  transition: all 0.4s ease;
  font-weight: 500;
  min-height: 100%;
  height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 30px;
}
.head i {
  font-size: 70px;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  margin-right: 10px;
}
.options div {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 1.1rem;
}
.options div:hover {
  background-color: rgba(255, 255, 255, 0.254);
  transition: all 0.4s ease-in-out;
}
.options i {
  margin-right: 10px;
}

.aside.active {
  width: 75px;
  transition: all 0.4s ease;
}

.aside.active .option,
.aside.active .profile {
  display: none;
}

.aside.active .head i {
  margin: auto;
}

.aside.active i img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .head img {
    width: 40px;
  }

  .aside {
    width: 200px;
  }

  .head {
    height: 40px;
    margin-bottom: 20px;
  }

  .head i {
    font-size: 50px;
  }

  .profile img {
    margin-right: 8px;
  }

  .options div {
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    font-size: 0.9rem;
  }

  .options div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease-in-out;
  }

  .aside.active {
    width: 60px;
  }

  .aside.active .option,
  .aside.active .profile {
    display: none;
  }

  .aside.active .head i {
    margin: auto;
  }

  .aside.active i img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
