@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-SecondaryColor {
  background-color: #181818;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #dfe0dc;
}
input:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000000;
  border-bottom-width: 3px;
}
@media print {
  .print\\:w-full {
    width: 100% !important;
  }
  .print\\:max-w-full {
    max-width: 100% !important;
  }
}

@page {
  counter-increment: page;
  @bottom-right {
    content: "Page " counter(page);
    color: #000;
  }
}

body {
  counter-reset: page;
}

.bg-PrimaryColor {
  background-color: #dfe0dc;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: black;
}
.bg-Transparent {
  background-color: rgba(255, 255, 255, 0.254);
  transition: all 0.4s ease-in-out;
}
.EspecialInput {
  color: black;
  background-color: transparent;
}

input {
  border-bottom-width: 1px;
  border-color: #000;
  background-color: transparent;
  font-size: 0.875rem;
  display: block;
  color: black;
  background-color: transparent;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media print {
  @page {
    counter-increment: page;
    counter-reset: page 1;
  }

  body {
    counter-reset: page;
  }

  .page-number::after {
    content: counter(page);
  }
}

input::placeholder {
  color: #27374d;
}
input[type="date"] {
  background-color: #5f5f5d;
  border-color: #ccc;
}
.title-font {
  color: #dfe0dc;
  border-color: red;
  margin: 10px auto;
  width: max-content;
  border-right: 3px solid;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  animation: typing 2s steps(10), effect 0.5s step-end infinite;
}
@keyframes typing {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

.Header {
  width: 100vh;
  height: 100vh;
}

html {
  width: 100%;
  height: 100%;
}

.GridThreeColumns {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.GridThreeColumns > div:first-child {
  overflow-y: auto;
  padding: 2vh;
  max-height: 100vh;
}
.zoom:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}
/*for Chrome*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

/*for Edge*/
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #dddd;
  padding: 0px;
}
.EliminatedButton {
  background-color: #e84443;
}
.NormalButton {
  background-color: #454fce;
}
textarea {
  resize: none;
}

button {
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
}
input[type="datetime-local"] {
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;

  color: #454fce;
}
input[type="datetime-local"]:focus {
  outline: none;
  cursor: pointer;
}
input[type="datetime-local"]:hover {
  cursor: pointer;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

button:active {
  animation-name: rotate;
  animation-duration: 0.1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

button:hover {
  background: #8696fe;
}

#clock {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  background: #d1dae3;
  color: #71767f;
  padding: 30px;
  font-weight: bold;
  font-size: 40px;
  border-radius: 4px;
  border: 4px solid #cad3dc;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.GrayTable th,
.GrayTable td {
  padding: 8px;
}
.GrayTable input {
  color: #dfe0dc;
  background-color: transparent;
  color: #181818;
  font-weight: bold;
}

.head img {
  width: 40px;
}
.aside {
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 300px;
  background-color: #27374d;
  color: #dfe0dc;
  position: sticky;
  transition: all 0.4s ease;
  font-weight: 500;
  min-height: 100%;
  height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 30px;
}
.head i {
  font-size: 70px;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  margin-right: 10px;
}
.options div {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 1.1rem;
}
.options div:hover {
  background-color: rgba(255, 255, 255, 0.254);
  transition: all 0.4s ease-in-out;
}
.options i {
  margin-right: 10px;
}

.aside.active {
  width: 75px;
  transition: all 0.4s ease;
}

.aside.active .option,
.aside.active .profile {
  display: none;
}

.aside.active .head i {
  margin: auto;
}

.aside.active i img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .head img {
    width: 40px;
  }

  .aside {
    width: 200px;
  }

  .head {
    height: 40px;
    margin-bottom: 20px;
  }

  .head i {
    font-size: 50px;
  }

  .profile img {
    margin-right: 8px;
  }

  .options div {
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    font-size: 0.9rem;
  }

  .options div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease-in-out;
  }

  .aside.active {
    width: 60px;
  }

  .aside.active .option,
  .aside.active .profile {
    display: none;
  }

  .aside.active .head i {
    margin: auto;
  }

  .aside.active i img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
#overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

