@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-SecondaryColor {
  background-color: #181818;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #dfe0dc;
}
.bg-PrimaryColor {
  background-color: #dfe0dc;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: black;
}
.EspecialInput{
  color:#181818;
  background-color: transparent;
  color:#ccc;
}
input::placeholder{
  color:#454fce;
  
}
input[type="date"]{
  background-color: #5F5F5D  ;
  border-color: #ccc;
}
.title-font {
  color: #dfe0dc;
  border-color: red;
  margin: 10px auto;
  width: max-content;
  border-right: 3px solid;
  font-family: lucida system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  animation: typing 2s steps(10), effect 0.5s step-end infinite;
}
@keyframes typing {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

.Header {
  width: 100vh;
  height: 100vh;
}

html {
  width: 100%;
  height: 100%;
}

textarea {
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.GridThreeColumns {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.GridThreeColumns > div:first-child {
  overflow-y: auto;
  padding: 2vh;
  max-height: 100vh;
}
.zoom:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}
/*for Chrome*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

/*for Edge*/
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.EliminatedButton {
  background-color: #e84443;
}
.NormalButton {
  background-color: #454fce;
}
button {
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
 
}
input[type="datetime-local"] {
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #454fce;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

button:active {
  animation-name: rotate;
  animation-duration: 0.1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}


.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}
